        @import url('https://fonts.googleapis.com/css2?family=Dosis&family=Mukta:wght@300&display=swap');

        /* font-family: 'Mukta', sans-serif; 
            font-family: 'Dosis';
        */
        /* 電腦與平板上應用的樣式 */
        * {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        .p_font {
            font-family: 'Mukta', 'noto sans TC';
            color: #333;
        }

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.25rem;
        }

        h5 {
            font-size: .875rem;
        }

        h6 {
            font-size: .75rem;
        }

        p {
            font-size: 1rem;
        }

        .deco_font {
            font-family: 'Mukta', 'noto sans TC';
            font-weight: bold;
            font-size: 1.1rem;
            color: #4D5053;
        }

        body {
            background-color: rgb(237, 237, 237);
            margin: 0;
            padding: 0;
            font-size: 14px;
        }

        .container {
            width: 80%;
            max-width: 1200px;
            margin: auto;
        }

        /* ================
                Header 
        ================ */
        header {
            width: 100%;
            padding-top: 10px;
            position: relative;
            z-index: 1;
            box-shadow: 0 0 15px #d4d4d4;
            background-color: rgb(237, 237, 237);
        }

        header .container {
            width: 100%;
            max-width: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }

        .logo {
            margin-left: 60px;
        }

        .logo a {
            text-decoration: none;
            font-family: "Plaster", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
            color: #292F36;
        }

        .menu {
            display: none;
        }

        .navbar {
            width: 50%;
            margin: 0 60px;

        }

        .navbar ol {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        .navbar li {
            height: 100%;
            border-bottom: 0;
        }

        .navbar a {
            text-decoration: none;
            height: 100%;
            text-align: center;
            color: #292F36;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }

        /* ================
    Header END
================ */

        /* ================================
                    Main  START
        ================================ */

        #Main {
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            /*藏起來*/
        }

        #Main .container {
            width: 80%;
            max-width: 1200px;
            margin: auto;
            display: flex;
            justify-content: center;

        }

        .circle1,
        .circle2,
        .triangle {
            opacity: 0;
            /* 預設透明，防止動畫開始前閃爍 */
            position: absolute;
            transform: translate(-50%, -50%);
            /* 居中對齊 */
        }

        .circle1 {
            position: absolute;
            width: 400px;
            height: 400px;
            background-color: #CDA274;
            top: -10%;
            left: 60%;
            border-radius: 50%;
            z-index: -1;

            animation-name: spinScaleIn;
            animation-duration: 1.2s;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
        }

        .circle2 {
            position: absolute;
            width: 200px;
            height: 200px;
            background-color: #f5d2af;
            bottom: 30%;
            left: 10%;
            border-radius: 50%;
            z-index: -1;

            animation-name: spinScaleIn;
            animation-duration: 1.0s;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            animation-fill-mode: forwards;
            animation-delay: 0.5s;
        }

        .triangle {
            width: 0;
            height: 0;
            top: 50%;
            left: 30%;
            border-left: 257px solid transparent;
            border-right: 257px solid transparent;
            border-bottom: 405px solid rgb(245, 151, 93);
            position: absolute;
            z-index: -1;

            animation-name: spinScaleIn;
            animation-duration: 1.8s;
            animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
            animation-fill-mode: forwards;
            animation-delay: 0.1s;
        }

        /* ================================
                    Main  END  
        ================================ */
        /* ================================
                    Introduce  START
            ================================ */
        #Introduce {
            width: 100%;
        }

        #Introduce .container {
            display: flex;
            justify-content: space-between;
            /* align-items: flex-start; */
            padding: 60px 0;
        }

        .img-block {
            width: 400px;
            height: 600px;

        }

        .img-block img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: -16px 16px #CDA274;
        }

        .resume {
            width: 50%;
            padding: 30px;
        }

        .resume h2,
        .resume h3 {
            padding: 16px 0;
        }


        .exp_list li {
            background-color: rgb(234, 226, 220);
            padding: 16px;
            margin-bottom: 16px;
        }

        .exp_list h4 {
            margin-bottom: 8px;
        }

        .skills-list li {
            /* width: 100%;
            height: 40px; */
            display: flex;
            justify-content: center;
            /* flex-direction: ; */
            align-items: center;
        }

        .skill-name {
            /* display: block; */
            width: 100px;
            height: 50px;
            text-align: right;
            margin-right: 30px;
            line-height: 50px;
        }

        .skill-bar {
            background-color: #F0EAE4;
            height: 18px;
            border-radius: 9px;
            flex-grow: 1;
            position: relative;
            overflow: hidden;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        .skill-level {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 9px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 0.9rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            transition: width 0.5s ease-out;

            animation-duration: 1.5s;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }


        /* HTML */
        .skill-html {
            background: linear-gradient(to right, #DDA35D, #BC8F6D);
            /* 大地色系漸變 */
            animation-name: progress-html;
            animation-delay: 0.2s;
            /* 延遲 0.2 秒 */
        }

        /* CSS */
        .skill-css {
            background: linear-gradient(to right, #CDA274, #C09A6C);
            /* 大地色系漸變 */
            animation-name: progress-css;
            animation-delay: 0.4s;
            /* 延遲 0.4 秒 */
        }

        /* JavaScript */
        .skill-js {
            background: linear-gradient(to right, #BC8F6D, #AD7C5B);
            /* 大地色系漸變 */
            animation-name: progress-js;
            animation-delay: 0.6s;
            /* 延遲 0.6 秒 */
        }

        /* Photoshop */
        .skill-abc {
            /* 保持原來的 class 名稱 */
            background: linear-gradient(to right, #DDA35D, #CDA274);
            /* 大地色系漸變 */
            animation-name: progress-abc;
            animation-delay: 0.8s;
            /* 延遲 0.8 秒 */
        }

        /* Illustrator */
        .skill-elkkk {
            /* 保持原來的 class 名稱 */
            background: linear-gradient(to right, #BC8F6D, #DDA35D);
            /* 大地色系漸變 */
            animation-name: progress-elkkk;
            animation-delay: 1.0s;
            /* 延遲 1.0 秒 */
        }

        /* Git (新增的 Git 技能，假設使用 .skill-git class) */
        .skill-git {
            background: linear-gradient(to right, #CDA274, #AD7C5B);
            /* 大地色系漸變 */
            animation-name: progress-git;
            /* 新的動畫名稱 */
            animation-delay: 1.2s;
            /* 延遲 1.2 秒 */
        }

        @keyframes progress-html {
            from {
                width: 0%;
            }

            to {
                width: 90%;
            }
        }

        @keyframes progress-css {
            from {
                width: 0%;
            }

            to {
                width: 80%;
            }
        }

        @keyframes progress-js {
            from {
                width: 0%;
            }

            to {
                width: 70%;
            }
        }

        @keyframes progress-abc {
            from {
                width: 0%;
            }

            to {
                width: 70%;
            }

        }

        @keyframes progress-elkkk {
            from {
                width: 0%;
            }

            to {
                width: 85%;
            }

        }

        @keyframes progress-git {
            from {
                width: 0%;
            }

            to {
                width: 80%;
            }
        }

        /* ================================
                    Introduce  END  
            ================================ */

        /* ================================
                        Work  START
            ================================ */
        #Work {
            background-color: #fff;
        }

        #Work .container {
            padding: 60px 0;
        }

        #Work h2 {
            padding: 30px 0;
        }

        .work-list li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 72px;
            margin: 30px;
            padding-bottom: 16px;
            border-bottom: 1px solid #d4d4d4;
            flex-wrap: nowrap;
        }

        .work-period {
            font-size: 1.3rem;
            /* line-height: 72px; */
            width: 180px;
            flex-shrink: 0;
        }

        .company-logo {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #ffffff;
            margin: 30px;
            flex-shrink: 0;
        }

        .company-logo img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            /* border-radius: 50%; */
        }

        .job-title {
            flex-grow: 1;
        }

        /* ================================
                        Work  END  
            ================================ */
        /* ================================
                    Portfolio  START
            ================================ */
        #Portfolio {
            margin-top: 60px;
            text-align: center;
        }

        #Portfolio h2 {
            padding: 8px 0;
        }

        #Portfolio .container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 10px;
            padding: 60px 0;
        }

        .card {
            position: relative;
            overflow: hidden;
            transform-style: preserve-3d;
            transition: transform 0.4s ease-in-out;


        }

        .side {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: transform 0.4s ease-in-out;
            background-color: #6cc0ae;
        }


        .card:nth-child(3) {
            grid-area: 1 / 3 / 2 / 5;
        }

        .card:nth-child(8) {
            grid-area: 2 / 4 / 2 / 6;
        }

        .card:nth-child(6) {
            grid-area: 2 / 2 / 4 / 4;
            height: 370px;
        }

        .side img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }

        .back {
            display: flex;
            background: #c1a27a;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            transform: rotateY(180deg);
            transition: transform 0.4s ease-in-out;
        }

        .card:hover .side {
            transform: rotateY(180deg);
        }

        .card:hover .back {
            transform: rotateY(0deg);
        }


        /* ================================
                    Portfolio  END  
            ================================ */

        /* ================================
                    Contact  START
            ================================ */
        #Contact {
            width: 100%;
            height: 800px;
            background-image: linear-gradient(to right bottom, #f2a86d, #f2a46c, #f29f6c, #f29b6c, #f2976c, #f2926b, #f38c6a, #f38769, #f47f66, #f47764, #f56f63, #f56662);
        }

        #Contact .container {
            height: 100%;
        }

        #Contact .container .row {
            /* padding: 60px 0; */
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .col-6 {
            flex-basis: calc(50% - 20px);
        }

        .col-6 h2,
        .col-6 p,
        .col-6 li {
            color: #fff;
        }

        .col-6 h2 {
            font-size: 2.4rem;
        }

        .col-6 p {
            font-size: 18px;
            margin-bottom: 24px;
        }

        .col-6 li {
            font-size: 1rem;
            margin-bottom: 8px;
        }

        .col-6 form {
            height: 100%;
            background-color: #fff;
            border-radius: 10px;
            padding: 32px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .col-6 form .form-group {
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
        }

        .col-6 form .form-group label {
            margin-bottom: 8px;
            font-weight: bold;
            color: #333;
        }

        .col-6 form .form-group input,
        .col-6 form .form-group textarea {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            background-color: #f5f5f5;
        }

        .col-6 form .form-group input:focus,
        .col-6 form .form-group textarea:focus {
            outline: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }

        .col-6 form .form-group button {
            padding: 10px 20px;
            background-image: linear-gradient(to right bottom, #f2a86d, #f2a46c, #f29f6c, #f29b6c, #f2976c, #f2926b, #f38c6a, #f38769, #f47f66, #f47764, #f56f63, #f56662);
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }


        /* ================================
                    Contact  END
            ================================ */
        /* ================================
                    footer  START
            ================================ */

        footer {
            width: 100%;
            height: 60px;
            background-color: #292F36;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        footer p {
            margin: 0;
            font-size: 0.9rem;
            color: #ccc;
        }

        /* ================================
                    footer  END
            ================================ */
        /* ================
            RWD header
        ================ */
        @media screen and (max-width: 700px) {

            header .container {
                margin: 0;
                flex-wrap: wrap;
            }

            .logo {
                margin-left: 30px;
                /* 手機版 logo 左邊距 */
            }

            /* 漢堡選單在手機版顯示 */
            .menu {
                display: block;
                width: 3rem;
                height: 3rem;
                background-color: #666;
                margin-right: 30px;
                margin-bottom: 10px;
                position: relative;
            }

            .menu::after {
                content: "";
                position: absolute;
                top: 1em;
                left: .8em;
                width: 1.5em;
                height: 0.2em;
                border-top: 0.6rem double white;
                border-bottom: 0.2rem solid white;
            }

            /* 導覽列在手機版佔滿寬度 */
            .navbar {
                width: 100%;
                margin: 0;
            }

            .navbar ol {
                display: flex;
                flex-direction: column;
                /* 手機版導覽項目垂直排列 */
            }

            .navbar li {
                border-bottom: 1px solid #333;
                /* 手機版底部邊框 */
            }

            .navbar a {
                background-color: rgb(248, 248, 248);
                /* 手機版連結背景色 */
            }

            /* ================================
                        Introduce  START
            ================================ */

            #Introduce .container {
                flex-direction: column;
                align-items: center;

            }

            .resume {
                padding: 30px 0;
                width: 90%;
            }

            .skills-list li {
                flex-direction: column;
                align-items: flex-start;
            }

            .skill-name {
                width: auto;
                text-align: left;
                margin-right: 0;
                margin-bottom: 5px;
            }

            .skill-bar {
                width: 100%;
            }


            /* ================================
                        Introduce  END  
            ================================ */
            /* ================================
                        Work  START
            ================================ */

            .work-list li {
                flex-wrap: wrap;
                height: auto;
                /* align-items: flex-start; */

            }

            .work-period {
                width: 100%;
                margin-bottom: 10px;
                text-align: left;
            }

            .company-logo {
                margin: 0;
                margin-right: 16px;
            }

            /* ================================
                        Work  END  
            ================================ */
            /* ================================
                        Portfolio  START
            ================================ */
            #Portfolio .container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .card {
                width: 48%;
                height: 200px;
                max-height: 100%;
                margin-bottom: 8px;
            }

            .card:nth-child(6) {
                height: auto;
            }

            /* ================================
                        Portfolio  END  
            ================================ */
            /* ================================
                    Contact  START
            ================================ */
            #Contact {
                height: auto;
                padding: 60px 0;
            }

            #Contact .row .col-6 {
                flex-basis: 100%;
                margin-bottom: 20px;
            }

            /* ================================
                    Contact  END
            ================================ */
            /* ================================
                    footer  START
            ================================ */
            /* ================================
                    footer  END
            ================================ */
        }

        /* 手機 */
        @media screen and (max-width: 500px) {}



        @keyframes spinScaleIn {
            0% {
                opacity: 0;
                transform: scale(0.8) rotate(-90deg);
                /* 從縮小 80% 並逆時針旋轉 90 度開始 */
            }

            70% {
                opacity: 1;
                transform: scale(1.05) rotate(5deg);
                /* 稍微放大並輕微旋轉 */
            }

            100% {
                opacity: 1;
                transform: scale(1) rotate(0deg);
                /* 結束在原始大小和無旋轉狀態 */
            }
        }